.azwun-btn {
    display: inline-block;
    margin-top: 2rem;
    transition: all 0.3s ease-in-out;

    @media screen and (min-width: 1024px) {
        margin-top: 3rem;
    }

    a,
    span {
        display: block;
        font-family: 'Exo 2';
        padding: .5rem 2.5rem;
        letter-spacing: 1px;

        @media screen and (min-width: 1024px) {
            padding: 1rem 4.5rem;
        }
    }

    &--accent-border {
        border: solid #FF1145 3px;

        &:hover {
            background: #FF1145;
            border: solid #FF698A 3px;
        }
    }

    &--accent-background {
        border: solid #FF698A 3px;
        background: #FF1145;

        &:hover {
            border: solid #FF1145 3px;
            background: none;

            a,
            span {
                color: #343434;
            }
        }
    }

    .azwun-btn__txt {
        font-size: 16px;
        transition: all 0.3s ease-in-out;

        &--white {
            color: #FFF;
        }

        &--dark {
            color: #343434;

            &:hover {
                color: #FFF;
            }
        }

        @media screen and (min-width: 1024px) {
            font-size: 18px;
        }
    }
}

// *** Azwun Form Submit Button