@import '../../../assets/scss/mixins';
@import '../../../assets/scss/variables';

.our-approach {
  .container {
    .content-wrapper {
      h1 {
        font-size: 40px;
        font-weight: 900;
        text-align: center;
        padding: 7.2rem 0 0 0;
      }

      .section-copy {
        text-align: center;
        margin-top: 7rem;

        p {
          color: $clr-drk-grey;

          span {
            display: block;
          }

          &:nth-child(2) {
            margin-top: 2rem;
          }
        }

        @media screen and (min-width: 768px) {
          margin-top: 3.5rem;
        }

        @media screen and (min-width: 1024px) {
          .azwun-btn {
            margin-top: 4rem;
          }
        }
      }
    }
  }
}