.our-services {

    .container {

        @media screen and (min-width: 1280px) {
            padding: 5rem;
        }

        .content-wrapper {
            width: 85%;
            margin: 0 auto;

            h1 {
                font-size: 40px;
                font-weight: 700;
                text-align: center;
                padding: 7.2rem 0 0 0;
            }

            .flex-container {
                @media screen and (min-width: 1024px) {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                }

                .services {
                    @media screen and (min-width: 1024px) {
                        flex: 0 0 70%;

                        &__group {
                            .content-wrapper {
                                width: 100%;
                                margin-top: 13rem;
                            }

                            &--1 {
                                .content-wrapper {
                                    &:nth-child(2) {
                                        margin-left: 5rem;
                                    }
                                }

                                .content-wrapper {
                                    &:nth-child(3) {
                                        margin-left: 10rem;
                                    }
                                }
                            }

                            &--2 {
                                .content-wrapper {
                                    &:nth-child(1) {
                                        margin-left: 5rem;
                                    }
                                }
                            }
                        }
                    }

                    .device-img {
                        margin-top: 8rem;

                        .img-wrapper {
                            max-width: 200px;
                            margin: 0 auto;

                            @media screen and (min-width: 768px) {
                                max-width: 300px;
                            }
                        }

                        @media screen and (min-width: 1024px) {
                            display: none;
                        }
                    }
                }
            }

            .section-img-desktop {
                display: none;

                @media screen and (min-width: 1024px) {
                    display: block;
                    align-self: center;
                    flex: 0 0 30%;
                }
            }
        }
    }
}